[Unit]
Description=Download your favourite animes
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/anid

[Install]
WantedBy=default.target
